* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #c04f33;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #c04f33;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .6rem;
  color: white;
}

.App-link {
  color: #09d3ac;
}


.left-bar {
  width: 20%;
  min-width: 300px;
  background-color: #1c2235;
  /* height: 100%; */
  color: white;
  /* margin: auto 0; */
}

.main {
  width: 79%;
}

.body {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
